body {
	background-color:lightpink;
}
  
h1 {
	color: black;
  letter-spacing: 3px;
  text-align: center;
}

#homebutton {
  position: fixed;
  top: 10px;
  left: 10px;
}

.bar {
  position: fixed;
  border: 2px solid black; 
  background-color: lightcoral;
  display: inline-table;
  width: 30%;
  text-align: center;
}

#toolbar {
  top: 80%;
  left: 15%;

}

#colorbar {
  top: 80%;
  left: 54.6%;
}

.color::after {
  content: "";
  clear: both;
  display: inline-table;
  width: 10%;
  padding-top: 10%;
  border: 1px solid black;
  margin-bottom: 2%;
  margin-left: .5%;
  margin-right: .5%;
}

#black::after {
  background-color: black;
}

#white::after {
  background-color: white;
}

#red::after {
  background-color: red;
}

#orange::after {
  background-color: orange;
}

#yellow::after {
  background-color: yellow;
}

#green::after {
  background-color: green;
}

#blue::after {
  background-color: blue;
}

#purple::after {
  background-color: purple;
}

#wheat::after {
  background-color: wheat;
}

#tan::after {
  background-color: tan;
}

#peru::after {
  background-color: peru;
}

#saddlebrown::after {
  background-color: saddlebrown;
}

#tomato::after {
  background-color: tomato;
}

#seagreen::after {
  background-color: seagreen;
}

#skyblue::after {
  background-color: skyblue;
}

#plum::after {
  background-color: plum;
}

canvas { 
  /* border: 5px solid black; For some reason this causes the mouse position to be slightly inaccurate, especially near the edges */
  background-color: white;
  width: 70%;
  display: block;
  margin:0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

#submit {
  display: block;
  margin:0 auto;
}

#drawing0, #drawing1, #drawing2, #drawing3, #drawing4 {
  border: 5px solid black; 
  background-color: white;
  display: block;
  margin:0 auto;
}