<html>
<head>
	<title>candle paint</title>
	<link rel='icon' type='image/png' href="{{url_for('static', filename='/images/favicon.png')}}"/>
	<link rel='stylesheet' href="{{url_for('static', filename='/style.css')}}">
</head>
<h1>candle paint</h1>

<!-- home button -->
<form action="/" method="post">
	<input id="homebutton" type="image" src="{{url_for('static', filename='/images/homeicon.png')}}"/>
</form>

<!-- toolbar -->
<div id='toolbar'>
	<h3 id='currentTool'><span>current tool: </span>pencil</h3>
	<input id='hex' placeholder='color selector'></input>
	<input type='range' min='1' max='100' value='20' class='slider' id='brushSlider'>
	<span>Brush Size: <span id='brushSizeDisplay'></span></span>
	<button onclick='clearCanvas()'>clear canvas</button>
	<button onclick="select('pencil')">pencil</button>
	<button onclick="select('eraser')">eraser</button>
	<button onclick="select('fill')">fill</button>
	<button onclick="select('quickFill')">efficient fill</button>
</div>

<canvas id='draw'></canvas>
<button id ='submit' onclick="submit()">submit</button>


<script type=text/javascript src="{{url_for('static', filename='drawing.js')}}"></script>

</html>
