<html>
<head>
	<title>candle paint</title>
	<link rel='icon' type='image/png' href="{{url_for('static', filename='/images/favicon.png')}}"/>
	<link rel='stylesheet' href="{{url_for('static', filename='/style.css')}}">
</head>
<h1>candle paint</h1>

<!-- home button -->
<form action="/" method="post">
	<input id="homebutton" type="image" src="{{url_for('static', filename='/images/homeicon.png')}}"/>
</form>

<!-- toolbar -->
<div class='toolbar'>
	<h3 id='currentTool'><span>current tool: </span>pencil</h3>
	<input type='range' min='1' max='100' value='20' class='slider' id='brushSlider'>
	<span>Brush Size: <span id='brushSizeDisplay'></span></span>
	<button onclick='clearCanvas()'>clear canvas</button>
	<button onclick="selectTool('pencil')">pencil</button>
	<button onclick="selectTool('eraser')">eraser</button>
	<button onclick="selectTool('fill')">fill</button>
	<button onclick="selectTool('quickFill')">efficient fill</button>
</div>

<!-- color picker-->
<div class='toolbar'>
	<h3 id='currentColor'><span>current color: </span>black</h3>
	<span class='color' id="black" onclick="selectColor('black')"></span>
	<span class='color' id="white" onclick="selectColor('white')"></span>
	<span class='color' id="red" onclick="selectColor('red')"></span>
	<span class='color' id="orange" onclick="selectColor('orange')"></span>
	<span class='color' id="yellow" onclick="selectColor('yellow')"></span>
	<span class='color' id="green" onclick="selectColor('green')"></span>
	<span class='color' id="blue" onclick="selectColor('blue')"></span>
	<span class='color' id="purple" onclick="selectColor('purple')"></span>
	<span class='color' id="wheat" onclick="selectColor('wheat')"></span>
	<span class='color' id="tan" onclick="selectColor('tan')"></span>
	<span class='color' id="peru" onclick="selectColor('peru')"></span>
	<span class='color' id="saddlebrown" onclick="selectColor('saddlebrown')"></span>
	<span class='color' id="tomato" onclick="selectColor('tomato')"></span>
	<span class='color' id="seagreen" onclick="selectColor('seagreen')"></span>
	<span class='color' id="skyblue" onclick="selectColor('skyblue')"></span>
	<span class='color' id="plum" onclick="selectColor('plum')"></span>
</div>

<canvas id='draw'></canvas>
<button id ='submit' onclick="submit()">submit</button>


<script type=text/javascript src="{{url_for('static', filename='drawing.js')}}"></script>

</html>
