<html>
<head>
	<title>candle paint</title>
	<link rel='icon' type='image/png' href="{{url_for('static', filename='/images/favicon.png')}}"/>
	<link rel='stylesheet' href="{{url_for('static', filename='/style.css')}}">
</head>
<h1>candle paint</h1>

<!-- home button -->
<form action="/" method="post">
	<input id="homebutton" type="image" src="{{url_for('static', filename='/images/homeicon.png')}}"/>
</form>

<div id='gallery'>
	<img src="" id="drawing0" />
	<img src="" id="drawing1" />
	<img src="" id="drawing2" />
	<img src="" id="drawing3" />
	<img src="" id="drawing4" />
</div>

<script type=text/javascript src="{{url_for('static', filename='gallery.js')}}"></script>

</html>
